@font-face {
	font-family: "Icons";
	src: url("./../fonts/quwi-font.eot");
	src: url("./../fonts/quwi-font.eot") format("embedded-opentype"),
		url("./../fonts/quwi-font.woff2") format("woff2"),
		url("./../fonts/quwi-font.woff") format("woff"),
		url("./../fonts/quwi-font.ttf") format("truetype"),
		url("./../fonts/quwi-font.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="bu-"]::before,
[class*=" bu-"]::before {
	font-family: "Icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bu-angle-double-right::before { content: "\f101"; }

.bu-angle-double-left::before { content: "\f100"; }

.bu-bug::before { content: "\e800"; }

.bu-clock::before { content: "\e801"; }

.bu-saw::before { content: "\e803"; }

.bu-gear::before { content: "\e802"; }

.bu-microphone::before { content: "\e804"; }

.bu-minus-circle::before { content: "\e805"; }

.bu-angle-double-down::before { content: "\f103"; }

.bu-upload-cloud::before { content: "\e806"; }

.bu-expand::before { content: "\e841"; }

.bu-plus-circle::before { content: "\e842"; }

.bu-down-dir::before { content: "\e807"; }

.bu-circle-notch::before { content: "\f1ce"; }

.bu-arrow-right::before { content: "\e812"; }

.bu-arrow-left::before { content: "\e813"; }

.bu-wrench::before { content: "\e80b"; }

.bu-file-circle::before { content: "\e80c"; }

.bu-send-plane::before { content: "\e81a"; }

.bu-pencil::before { content: "\e808"; }

.bu-trash-empty::before { content: "\e809"; }

.bu-cancel::before { content: "\e80a"; }

.bu-marquee::before { content: "\e847"; }

.bu-spinner::before { content: "\f110"; }

.bu-play::before { content: "\e80d"; }

.bu-stop::before { content: "\e80e"; }

.bu-check-empty::before { content: "\f096"; }

.bu-check::before { content: "\e80f"; }

.bu-logout::before { content: "\e810"; }

.bu-star::before { content: "\e811"; }

.bu-star-empty::before { content: "\e814"; }

.bu-ok-circle::before { content: "\e815"; }

.bu-resize-full::before { content: "\e816"; }

.bu-resize-small::before { content: "\e817"; }

.bu-download-cloud::before { content: "\e819"; }

.bu-volume-2::before { content: "\e81c"; }

.bu-volume-3::before { content: "\e81d"; }

.bu-volume-mute::before { content: "\e81e"; }

.bu-volume-off::before { content: "\e81f"; }

.bu-pause::before { content: "\e818"; }

.bu-windows::before { content: "\f17a"; }

.bu-android-1::before { content: "\e820"; }

.bu-angle-down::before { content: "\f107"; }

.bu-shit::before { content: "\e82b"; }

.bu-crab::before { content: "\e82c"; }

.bu-bell::before { content: "\e82e"; }

.bu-ok-thin::before { content: "\e830"; }

.bu-login::before { content: "\e821"; }

.bu-quote-left::before { content: "\e833"; }

.bu-android::before { content: "\f17b"; }

.bu-mail-alt::before { content: "\f0e0"; }

.bu-user::before { content: "\e825"; }

.bu-add-user::before { content: "\e822"; }

.bu-fullscreen::before { content: "\e823"; }

.bu-check-double::before { content: "\e824"; }

.bu-check-single::before { content: "\e826"; }

.bu-left-open-big::before { content: "\e827"; }

.bu-tag::before { content: "\e828"; }

.bu-rubbish-bin::before { content: "\e829"; }

.bu-plus::before { content: "\e82a"; }

.bu-status::before { content: "\e840"; }

.bu-priority::before { content: "\e82d"; }

.bu-th-list::before { content: "\e82f"; }

.bu-magnifier::before { content: "\e831"; }

.bu-calendar::before { content: "\e832"; }

.bu-left-open::before { content: "\e834"; }

.bu-right-open::before { content: "\e835"; }

.bu-right-dir::before { content: "\e836"; }

.bu-left-dir::before { content: "\e837"; }

.bu-down::before { content: "\e838"; }

.bu-camera::before { content: "\e839"; }

.bu-keyboard::before { content: "\e83a"; }

.bu-mouse::before { content: "\e83b"; }

.bu-zoom-in::before { content: "\e83c"; }

.bu-zoom-out::before { content: "\e83d"; }

.bu-paypal::before { content: "\f342"; }

.bu-credit-card::before { content: "\e83e"; }

.bu-cross::before { content: "\e850"; }

.bu-dot-circled::before { content: "\f192"; }

.bu-circle-empty::before { content: "\f10c"; }

.bu-volume::before { content: "\e83f"; }

.bu-lock::before { content: "\e843"; }

.bu-chat::before { content: "\e852"; }

.bu-align-justify::before { content: "\e844"; }

.bu-check-single-fat::before { content: "\e81b"; }

.bu-up-dir::before { content: "\e845"; }

.bu-play-circle::before { content: "\e846"; }

.bu-ellipsis::before { content: "\f141"; }

.bu-speech-bubble::before { content: "\e859"; }

.bu-reply::before { content: "\e848"; }

.bu-ellipsis-vert::before { content: "\f142"; }

.bu-pin::before { content: "\e849"; }

.bu-minus-squared-alt::before { content: "\f147"; }

.bu-add-file::before { content: "\e84a"; }

.bu-trash-custom::before { content: "\e84b"; }

.bu-ie::before { content: "\e84c"; }

.bu-recognize::before { content: "\e84d"; }

.bu-picture::before { content: "\e84a"; }

.bu-volume-1::before { content: "\e81b"; }
